.i-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 6px;
}

.images-wrapper{
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
    z-index: 1;
}

.img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-bg{
    border: 3px solid var(--clr-font);
    overflow: hidden;
    mix-blend-mode: multiply;
}

.img-bg img{
    animation: zoom 1s linear infinite;
    animation-iteration-count: 1;
    animation-play-state: paused;
    animation-fill-mode: both;
    animation-delay: calc(var(--scroll) * -1s);
    transition: transform .5s ease;
}

@keyframes zoom{
    to{
        transform: scale(1.5);
    }
}

.img-title-wrapper{
    display: flex;
    width: 100%;
}

.img-title-wrapper span{
    flex: 1;
    font-size: 9px;
    line-height: 1rem;
    font-weight: 600;
}

.scotch-tape{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    height: 88%;
}

.scotch-tape img{
    width: 14vw;
    mix-blend-mode: multiply;
    pointer-events: none;
}

.explore{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.explore-text{
    font-size: 13px;
    letter-spacing: -1px;
    cursor: pointer;
    position: relative;
}

.explore-text-after{
    height: 2px;
    width: 100%;
    background: var(--clr-font);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s ease-out;
}

.explore-text:hover .explore-text-after{
    transform-origin: bottom left;
    transform: scaleX(1);
}

.explore-icon{
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.explore-icon:hover > .explore-circle{
    transform: scale(1.13);
}

.explore-icon:hover > .explore-arrow{
    transform: rotate(360deg);
}

.explore-circle{
    width: 35px;
    height: 35px;
    transition: transform .4s ease-in-out;
}

.explore-arrow{
    width: 20px;
    position: absolute;
    transition: transform .3s ease-in-out;
}

.explore-icon-inkMode-selectors{
    transition: all .4s ease;
}

/* xs */
/* @media (min-width: 320px){

} */

/* sm */
@media (min-width: 425px){
    .img-title-wrapper span{
        font-size: 12.5px;
        line-height: 1.4rem;
    }

    .explore{
        gap: 8px;
    }

    .explore span{
        font-size: 17px;
    }
    
    .explore-circle{
        width: 46px;
        height: 46px;
    }
    
    .explore-arrow{
        width: 25px;
    }
}


/* md */
/* @media (min-width: 625px){
} */

/* lg */
@media (min-width: 768px){
    .i-section{
        padding-top: 1rem;
    }

    .explore{
        gap: 12px;
    }

    .explore span{
        font-size: 16px;
    }
    
    .explore-circle{
        width: 53px;
        height: 53px;
    }
    
    .explore-arrow{
        width: 30px;
    }
}

/* xl */
@media (min-width: 1024px){
    .explore-circle{
        width: 51px;
        height: 51px;
    }
    
    .explore-arrow{
        width: 25px;
    }
}

/* 2xl */
@media (min-width: 1440px){
    .explore{
        gap: 16px;
    }

    .explore span{
        font-size: 22px;
    }
    
    .explore-circle{
        width: 72px;
        height: 72px;
    }
    
    .explore-arrow{
        width: 36px;
    }
}
