.section{
    padding: 0 32px 0 25px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    display: none;
    position: fixed;
    bottom: 0;
    padding: 0 0 25px 25px;
    z-index: 1;
}

.sidebar ul{
    list-style: none;
    font-size: 9px;
    letter-spacing: -.5px;
}

.sidebar a{
    text-decoration: none;
    color: var(--clr-font);
}

/* xs */
@media (min-width: 375px){
    .section{
        padding: 0 37px 0 30px;
    }
}

/* sm */
@media (min-width: 425px){
    .section{
        padding: 0 42px 0 34px;
    }
}


/* md */
@media (min-width: 625px){
    .section{
        padding: 0 60px 0 110px;
    }
}

/* lg */
@media (min-width: 768px){
    .section{
        padding: 0 76px 0 138px;
    }
}

/* xl */
@media (min-width: 1024px){
    .section{
        padding: 0 102px 0 240px;
    }
    .sidebar{
        display: inline;
    }
}

/* 2xl */
@media (min-width: 1425px){
    .section{
        padding: 0 144px 0 338px;
    }
}