.morquee-section{
    width: 100%;
    background: var(--clr-yellow);
    border-top: 1px solid var(--clr-font);
    border-bottom: 1px solid var(--clr-font);
    height: 24px;
    margin: 32px 0 38px 0;
    overflow: hidden;
}

.morquee-text-wrapper{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

@keyframes scrollLeft{
    to{
        left: -25ch;
    }
}

.morquee-text{
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 1px;
    text-wrap-mode: nowrap;
    position: absolute;
    left: max(calc(19.5ch * 6), 100%);
    animation: scrollLeft 30s infinite linear;
}

.morquee-text-1{
    animation-delay: calc(30s / 6 * (30 - 1) * -1);
}
.morquee-text-2{
    animation-delay: calc(30s / 6 * (30 - 2) * -1);
}
.morquee-text-3{
    animation-delay: calc(30s / 6 * (30 - 3) * -1);
}
.morquee-text-4{
    animation-delay: calc(30s / 6 * (30 - 4) * -1);
}
.morquee-text-5{
    animation-delay: calc(30s / 6 * (30 - 5) * -1);
}
.morquee-text-6{
    animation-delay: calc(30s / 6 * (30 - 6) * -1);
}


/* sm */
@media (min-width: 425px){
    .morquee-section{
        border-width: 2px;
        height: 34px;
        margin: 43px 0 51px 0;
    }
    
    .morquee-text{
        font-size: 17px;
        line-height: 0px;
        left: max(calc(20ch * 6), 100%);

    }
}


/* md */
@media (min-width: 768px){
    .morquee-section{
        border-width: 1px;
        height: 38px;
        margin: 77px 0 53px 0;
    }
    
    .morquee-text{
        font-size: 19px;
        left: max(calc(21ch * 6), 100%);

    }
}

/* lg */
/* @media (min-width: 824px){
} */

/* xl */
@media (min-width: 1024px){
    .morquee-section{
        border-width: 2px;
        height: 51px;
        margin: 103px 0 72px 0;
    }
    
    .morquee-text{
        font-size: 25px;
    }

   
}

/* 2xl */
@media (min-width: 1440px){
    .morquee-section{
        border-width: 3px;
        height: 72px;
        margin: 144px 0 100px 0;
    }
    
    .morquee-text{
        font-size: 36px;
        left: max(calc(22ch * 6), 100%);

    }
}
