@import url(https://db.onlinewebfonts.com/c/7227d22dc5e8d12716f1f1733f0b364c?family=FavoritPro-Regular);
@import url(https://db.onlinewebfonts.com/c/49c8b266a94646f416ada5fae8a447b0?family=Cyberthrone);

:root{
  --clr-bg: #fcf9ee;
  --clr-font: #141414;
  --clr-card-bg: #e7d6c4;
  --clr-yellow: #ddc92a;
}

*{
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--clr-bg);
  color: var(--clr-font);
  overflow-x: hidden;
  position: relative;
  font-family: "FavoritPro-Regular";
}

img,
picture,
video,
canvas,
svg{
  display: block;
  max-width: 100%;
  user-select: none;
}

button{
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

/* xs */
/* @media (min-width: 320px){

} */

/* sm */
/* @media (min-width: 425px){
} */


/* md */
/* @media (min-width: 625px){
} */

/* lg */
/* @media (min-width: 824px){
} */

/* xl */
/* @media (min-width: 1024px){
} */

/* 2xl */
/* @media (min-width: 1425px){
} */
